a.nav-linkcontactos {
    
    border: 2px solid rgb(5, 143, 207);
    color: black;
    padding: 10px;
    text-align: center;
    margin-right: 100px;
    text-decoration:none;
}

.navbar-nav { /*Para alinhar os botões do menu*/
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
}

.navbar-nav a {
    color: black;
    margin-left: 20px;
}

#logo{
    margin-left: 60px;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Estrutura do carousel*/
.carousel-caption  {
    top: 60px;
    text-align: left;
   
}   

.carousel-caption h5 {
    font-size: 30px;
    color: black;
    left: 10px;
    
}

.textojapao {
    font-size: 14px;
    color: black;
    left: 10px;
    text-align: left;
    
}

/* botão do carousel */
.maisinfo {
    padding: 5px 20px;
    border : 2px solid rgb(5, 143, 207);
    
}