
/*footer*/
.footer {

    color: black;
    padding: 20px;
    background-color: #e7e3e3;
}

.logofooter {
    padding: 10px;
}

.setoresfooter a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.redessociais {
    padding-top: 15px;
}


.iconsredes {
    margin: 10px;
}


/* Troca as imagens ao passar o rato */
.x:hover {
    content: url('../img/Redessociais/Acess/tw.svg');
}

/* Troca as imagens ao passar o rato */
.linkedin:hover {
    content: url('../img/Redessociais/Acess/link.svg');
}

.facebook:hover {
    content: url('../img/Redessociais/Acess/face.svg');
}

/* Troca as imagens ao passar o rato */
.instagram:hover {
    content: url('../img/Redessociais/Acess/inst.svg');
}


/*Menu*/
/* Menu*/
a.nav-linkcontactos {

    border: 2px solid rgb(5, 143, 207);
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*tirar sublinhado do link*/

}

/*para ficar o botao azul quando passar o mouse*/
a.nav-linkcontactos:hover {
    background-color: rgb(5, 143, 207);

}

.navbar-nav {
    /*Para alinhar os botões do menu*/

    align-items: center;
    padding: 10px;
    color: black;

}

.navbar-nav a {
    margin-left: 20px;
    /*espaço entre os botões do menu*/
}

#logo {
    margin-left: 40px;
}

section {
    margin-bottom: 40px;
}

.navbar-nav .home:hover {
    /*para o home ficar azul quando passar o mouse*/
    color: rgb(5, 143, 207);
}

/* Parte dos Card da equipa*/
/* Ajuste das imagens dos card */
#contactoselisa img,#contactosjoana img,#contactosines img {
    width: 240px; 
    height: 240px; 
    border-radius: 0; /*cantos quadrados */
    margin: 20px auto; /* Ajustar o espaçamento */
    display: block;
}

.fotografiascontactos {
    align-items: center;
    max-width: 100%;
    height: auto;
    width: 75%; /* Ajuste da largura para reduzir o espaço entre a imagem e o card*/
    margin: 0 auto;
    display: block;
}
.textoquipa{
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 250px;
    margin-left: 250px;
}

/*Ajuste dos cards */
.conteudocontactos {
    padding: 15px; 
}

.sobrenos {
    text-align: center;
    padding: 30px;
    font-size: 55px;
    color: black;
    font-weight: bold;
}
#cardcontactosi{
    border:#e7e3e3 3px solid;
    border-radius: 0px;
}
#cardcontactosj{
    border:#e7e3e3 3px solid;
    border-radius: 0px;
}
#cardcontactose{   
    border:#e7e3e3 3px solid;
    border-radius: 0px;
}
#cardcontactosi:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#cardcontactosj:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#cardcontactose:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
}

/*Formulário de contacto*/
.titulocontactos {
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.nome{
    margin-top: 20px;
    margin-bottom: 10px;
}

#floatingTextarea2{
    margin-top: 50px;
    height: 200px
}

#inputnumber{
    margin-top: 15px;
    margin-bottom: 10px;
}

.email{
    margin-top: 10px;
    margin-bottom: 10px;
}
.infempresa{
text-align: center;
margin-top:40px;
margin-bottom: 20px;

}

#enviar{
    margin-top: 30px;
}