
/*----------------------------------------------------Esseciais da página----------------------------------------------------*/

/*footer*/
.footer {
    bottom: 0;
    width: 100%;
    color: black;
    padding: 20px;
    background-color: #e7e3e3;
}

.logofooter {
    padding: 10px;
}

.setoresfooter a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.redessociais {
    padding-top: 15px;
}


.iconsredes {
    margin: 10px;
}

/* Troca as imagens ao passar o rato */
.x:hover {
    content: url('../img/Redessociais/Acess/tw.svg');
}

/* Troca as imagens ao passar o rato */
.linkedin:hover {
    content: url('../img/Redessociais/Acess/link.svg');
}

.facebook:hover {
    content: url('../img/Redessociais/Acess/face.svg');
}

/* Troca as imagens ao passar o rato */
.instagram:hover {
    content: url('../img/Redessociais/Acess/inst.svg');
}


/* Menu*/
a.nav-linkcontactos {

    border: 2px solid rgb(5, 143, 207);
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*tirar sublinhado do link*/

}

/*para ficar o botao azul quando passar o mouse*/
a.nav-linkcontactos:hover {
    background-color: rgb(5, 143, 207);

}

.navbar-nav {
    /*Para alinhar os botões do menu*/

    align-items: center;
    padding: 10px;
    color: black;

}

.navbar-nav a {
    margin-left: 20px;
    /*espaço entre os botões do menu*/
}

#logo {
    margin-left: 40px;
}

section {
    margin-bottom: 40px;
}

.navbar-nav .home:hover {
    /*para o home ficar azul quando passar o mouse*/
    color: rgb(5, 143, 207);
}



/*----------------------------------------------------Pagina Países---------------------------------------------------*/


/*Filtro de texto*/

.input-group {
    max-width: 400px;  /* Define o limite máximo de largura */
    margin: 0 auto;    /* Centra o filtro de texto */
}


.input-group .btn {
    max-width: 50%; /* Tamanho do botao*/
}


/*Cards dos países*/

.cardp {
    margin: 15px;
    border: 1px solid #e7e3e3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 490px;
    text-align: center;
    background-color: white;
    padding: 5px;
    
}

.card-header {       
    display: inline;                                        
    justify-content: center; /*  texto ao centro */
    margin-top: 10px; 
}

.card-header .card-title {
    margin-right: 20px;          /* Espaço entre o nome do país e o ícone */
    padding: 5px;
    margin-top: 5px; 
    display: inline-flex;
}


.card-imga {
    width: 100%;
    height: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}


.card-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.card-capital , .card-populacao, .card-continente, .card-linguas p {
    font-size: 16px;
    color: rgb(8, 8, 8);
    margin: 10px;
    
}

.cardp:hover {
    border: solid 1px rgb(133, 134, 134);
    box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.2);
}

.cardp:hover .btn-favoritos { /* efeito de hover no botão de favoritos (2 ao mesmo tempo) */
    background-color: rgb(5, 143, 207);
    color: white;
}



/*Botão de favoritos*/

.btn-favoritos {
    background-color: white;
    color: black; 
    padding: 5px 15px; 
    align-items:left; 
    font-size: 16px; 
    border: solid 1px rgb(175, 172, 172);  
   
    
}

.btn-favoritos:hover {
    background-color: rgb(5, 143, 207);
    color: white; 
}



/*Botão ver + */

.btn-verdetalhes {
    background-color: white;
    color: black; 
    padding: 5px; 
    align-items:left; 
    font-size: 16px; 
    border: solid 1px rgb(175, 172, 172);  
    margin: 5px;
   
    
}

.btn-verdetalhes:hover {
    background-color: rgb(143, 145, 146);
    color: rgb(14, 13, 13); 
}

/*----------------------------------Responsividade----------------------------------*/

@media only screen and (max-width: 768px) {
    #cardpaises{
        display: block;
        width: 90%; /* Define largura para evitar que o card ocupe toda a tela */
        max-width: 400px; /* Limita o tamanho máximo do card */
        margin: 10px auto; 
    }

    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #cardpaises{
        display: block;
        width: 90%; 
        max-width: 400px; 
        margin: 10px auto; 
        
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1398px) {
    #cardpaises{
        display: block;
        width: 90%; 
        max-width: 400px; 
        margin: 10px auto; 
    }
}