@media only screen and (max-width: 768px) {

    #logo {
        width: 150px;
        max-width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 16px;
        margin-left: 15px;
        /*espaço entre os botões do menu*/
    }

    .navbar-nav .nav-linkcontactos {
        align-items: center;
    }

    /*cards paises*/
    #escolhedestino {
        font-size: 12px;
        margin: 10px;
        width: 100%;
    }

    #cardpaises {
        margin: 25px;
    }

    /*comercial ajustes*/
    .card .card-titlec {
        font-size: 18px;
        margin-top: 7px;
    }

    .card .card-img {
        width: 100%;
        height: 210px;
    }

    .card .textocomercial {
        font-size: 10px;
        max-width: 100%;
        margin-top: 0px;
        padding: 5px;
    }

    .card .botaocomercial {
        margin: 5px;
    }

    .footer {

        font-size: 15px;
    }


}


/* Menu*/
a.nav-linkcontactos {

    border: 2px solid rgb(5, 143, 207);
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*tirar sublinhado do link*/

}

/*para ficar o botao azul quando passar o mouse*/
a.nav-linkcontactos:hover {
    background-color: rgb(5, 143, 207);

}

.navbar-nav {
    /*Para alinhar os botões do menu*/

    align-items: center;
    padding: 10px;
    color: black;

}

.navbar-nav a {
    margin-left: 20px;
    /*espaço entre os botões do menu*/
}

#logo {
    margin-left: 40px;
}

section {
    margin-bottom: 40px;
}

.navbar-nav .home:hover {
    /*para o home ficar azul quando passar o mouse*/
    color: rgb(5, 143, 207);
}


/*Estrutura do carousel*/

.carousel-caption {
    top: 60px;
    text-align: left;
}

/*conteudo japao e Paris*/
.textojapao h5,
.textoparis h5 {
    font-size: 50px;
    color: black;
    font-weight: bold;
    left: 10px;


}

.textojapao p,
.textoparis p {
    font-size: 16px;
    color: black;
    left: 10px;
    margin-top: 20px;


}

/*conteudo australia */

.textoaustralia h5 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    left: 10px;


}

.textoaustralia p {
    font-size: 16px;
    color: white;
    left: 10px;
    margin-top: 20px;

}


/* botões do carousel - explorar */
.botaojapao,
.botaoparis {
    padding: 5px 20px;
    border: 2px solid rgb(5, 143, 207);
    float: left;
    background-color: transparent;

}

.botaojapao:hover,
.botaoparis:hover {
    padding: 5px 20px;
    border: 2px solid rgb(5, 143, 207);
    background-color: rgb(5, 143, 207);
    float: left;

}

.botaoaustralia {
    padding: 5px 20px;
    border: 2px solid rgb(255, 251, 251);
    background-color: black;
    color: white;
    float: left;
    border: black;

}

.botaoaustralia:hover {
    padding: 5px 20px;
    border: 2px solid rgb(255, 251, 251);
    background-color: rgb(252, 248, 248);
    color: rgb(22, 1, 1);
    float: left;
}


.carousel-control-next,
.carousel-control-prev {

    align-items: center;
}

/*centrar texto dos paises*/
#escolhepais {
    margin-top: 45px;
    text-align: center;
    font-size: 70px;
}

#escolhedestino {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
   
}


/* CARDS*/
#cardpaises {
    margin-right: 90px;
    margin-left: 90px;
}

.card:hover {
    border: 2px solid rgb(5, 143, 207);
}



.card .card-title {
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.card img.bandeira {
    /*definição da imagem da bandeira*/
    width: 100%;
    height: 200px;
}

/* imagem comercial*/
.card-img {
    width: 100%;
    height: 500px;
}


.card-titlec {
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

.textocomercial {
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    max-width: 70%;
    margin: 0 auto;
}

.botaocomercial {
    text-align: center;
    margin: 10px;
}

#comercialbotao {
    border: 2px solid rgb(13, 13, 14);
    background-color: white;
    color: black;
    padding: 7px 30px;
}

#comercialbotao:hover {
    border: 1px solid white;
    background-color: transparent;
    color: white;

}

/*sobre nós*/
.sobrenos {
    text-align: center;
    padding: 30px;
    font-size: 55px;
    color: black;
    font-weight: bold;
}

.conteudo h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;

}

.conteudo p {
    font-size: 16px;
    color: rgb(97, 95, 95);
    text-align: center;
    padding: 0px;

}

.fotografias {
    align-items: center;
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    height: auto;    /* Mantém a proporção original */
    width: 80%;      /* Ajusta o tamanho relativo ao contêiner */
    margin: 0 auto;  /* Centraliza a imagem */
    display: block;
    /* para a imagem ficar no centro*/

}

#elisa img {

    width: 280px;
    height: 280px;
    border-radius: 0px;
    /* remove o arredondamento dos cantos da fotografia*/
    margin: 25px auto;
    display: block;

}

#joana img {
    width: 280px;
    height: 280px;
    margin: 25px auto;
    border-radius: 0px;
    /* remove o arredondamento dos cantos da fotografia*/
    display: block;
}

#ines img {
    width: 280px;
    height: 280px;
    margin: 25px auto;
    border-radius: 0px;
    /* remove o arredondamento dos cantos da fotografia*/
    display: block;
}

.sobreequipa {
    padding: 5px;
    background-color: #fffdfd;
    color: rgb(5, 143, 207);
    border: 1px solid rgb(5, 143, 207);
}

.botaoequipa {
    text-align: center;
    margin-bottom: 30px;
}

.sobreequipa:hover {
    background-color: rgb(5, 143, 207);
    color: white;
}

.card {
    border-radius: 0px;
    /* remove o arredondamento dos cantos*/
}


.shadow-card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.shadow-card:hover .sobreequipa {
    background-color: rgb(5, 143, 207);
    color: white;
}
 


/*footer*/
.footer {

    color: black;
    padding: 20px;
    background-color: #e7e3e3;
}

.logofooter {
    padding: 10px;
}

.setoresfooter a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

.redessociais {
    padding-top: 15px;
}


.iconsredes {
    margin: 10px;
}


/*pagina contactos*/
/* Ajuste das imagens dos card */
#contactoselisa img,#contactosjoana img,#contactosines img {
    width: 240px; 
    height: 240px; 
    border-radius: 0; /*cantos quadrados */
    margin: 20px auto; /* Ajustar o espaçamento */
    display: block;
}

.fotografiascontactos {
    align-items: center;
    max-width: 100%;
    height: auto;
    width: 75%; /* Ajuste da largura para reduzir o espaço entre a imagem e o card*/
    margin: 0 auto;
    display: block;
}
.textoquipa{
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

/*Ajuste dos cards */
.conteudocontactos {
    padding: 15px; 
}

/* Troca as imagens ao passar o rato */
.x:hover {
    content: url('../img/Redessociais/Acess/tw.svg');
}

/* Troca as imagens ao passar o rato */
.linkedin:hover {
    content: url('../img/Redessociais/Acess/link.svg');
}

.facebook:hover {
    content: url('../img/Redessociais/Acess/face.svg');
}

/* Troca as imagens ao passar o rato */
.instagram:hover {
    content: url('../img/Redessociais/Acess/inst.svg');
}

/*----------------------------------------------------FIM DA HOMEPAGE----------------------------------------------------*/



/*----------------------------------------------------PÁGINA PAÍSES----------------------------------------------------*/





/* imagem apresentacao*/
.imgapresentacao {
    width: 50%;                
    height: 10px; 
}

.apresentacao {
    text-align: center;         /* Centraliza o texto dentro da div */
    color: white;               /* Cor do texto branca para contraste */
    padding: 20px;              /* Espaçamento interno */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo translúcido para destacar o texto sobre a imagem */
  }


.apresentacao h2 {
    font-size: 35px;
    color: rgb(1, 9, 14);
    align-items: center;
    text-align: center;
    padding: 20px;
}

.apresentacao p {
    font-size: 16px;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 5px;
    max-width: ;
}


  
